spring:
  application:
    name: oauth
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/db_name}
    username: ${DB_USERNAME:db_user}
    password: ${DB_PASSWORD:db_password}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

server:
  port: ${SERVER_PORT:9000}
  address: 0.0.0.0 # Allow connections from other devices on the network

app:
  base-url: ${BASE_URL:http://localhost:9000}
