spring:
  mail:
    port: 587
  application:
    name: oauth
  datasource:
    url: ${DB_URL:jdbc:postgresql://34.93.24.96:5432/oauth_db}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:qznpH8901!@#}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

server:
  port: ${SERVER_PORT:9000}
  address: 0.0.0.0 # Allow connections from other devices on the network
