spring:
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: 587
    username: ${MAIL_USERNAME:sameerkmr823@gmail.com}
    password: ${MAIL_PASSWORD:uknaypjrgoiaijuw}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  application:
    name: oauth
  datasource:
    url: ${DB_URL:jdbc:postgresql://10.160.0.2:5432/spendvolt_db}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:zqnpH8901!@#}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

server:
  port: ${SERVER_PORT:9000}
  address: 0.0.0.0 # Allow connections from other devices on the network
