spring:
  application:
    name: oauth
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/oauth_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:dev123}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true # This helps if tables already exist
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

server:
  port: ${SERVER_PORT:9000}
